.col {
  padding: 0px;
  margin: 0px;
}
.section {
  height: 100vh;
  display: flex;
  align-items: center;
}

#calculator {
  padding: 0px;
  height: 650px;
  width: 430px;
  background-color: #616161;
  border-top: 6px solid #a3a3a3;
  border-left: 6px solid #a3a3a3;
  border-right: 6px solid #494949;
  border-bottom: 6px solid #494949;
  border-radius: 10px;
}

.brand {
  margin-left: 20px;
  margin-top: 15px;
  font-family: 'Audiowide', cursive;
  color: rgb(163, 163, 163);
}

#lcd {
  width: 370px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  border-left: 4px solid rgb(120, 173, 120);
  border-top: 4px solid rgb(120, 173, 120);
  background-color: lightgreen;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
}

#ecuacion {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  /* background-color: aquamarine; */
  text-align: right;
}

#display {
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 43px;
  /* background-color: aquamarine; */
  text-align: right;
}

.singlePad:hover, .singlePadRed:hover {
  margin: 2px;
  width: 90px;
  height: 70px;
}

.doublePad:hover {
  margin: 2px;
  margin-bottom: 3px;
  width: 90px;
  height: 145px;
}

.doublePadh:hover {
  margin: 2px;
  width: 185px;
  height: 70px;
}

button:active {
  border: 1px solid darkgrey;
}

.pink {
  /* background-color: pink; */
  width: 380px;
  margin-top: 20px;
  justify-content: space-evenly;
}

.singlePad {
  margin: 5px;
  width: 85px;
  height: 65px;
  background-color: #2a2a2a;
  border-right: 3px solid #a3a3a3;
  border-bottom: 5px solid #848484;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'Zen Dots', cursive;
  font-size: 40px;
  color: whitesmoke;
  border-radius: 10px;
}

.singlePadRed {
  margin: 5px;
  width: 85px;
  height: 65px;
  background-color: #ce0000;
  /* background-color: #e47600; */
  border-right: 3px solid #a3a3a3;
  border-bottom: 5px solid #848484;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'Zen Dots', cursive;
  font-size: 30px;
  color: whitesmoke;
  border-radius: 10px;
}

.doublePad {
  margin: 5px;
  width: 85px;
  height: 140px;
  background-color: #2a2a2a;
  border-right: 3px solid #a3a3a3;
  border-bottom: 5px solid #848484;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'Zen Dots', cursive;
  font-size: 40px;
  color: whitesmoke;
  border-radius: 10px;
}

.doublePadh {
  margin: 5px;
  width: 180px;
  height: 65px;
  background-color: #2a2a2a;
  border-right: 3px solid #a3a3a3;
  border-bottom: 5px solid #848484;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'Zen Dots', cursive;
  font-size: 40px;
  color: whitesmoke;
  border-radius: 10px;
}

.oper {
  background-color: #423e3e;
}

.up {
  margin-top: -75px;
}

.under {
  z-index: -1;
}